src/main/webapp/WEB-INF/yuyue.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://new.webservice.namespace"
        elementFormDefault="qualified"
        xmlns:tns="http://new.webservice.namespace">
    <element name="GetHospInfoReq">
        <annotation>
            <documentation>获取医院信息请求</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:AuthInfo"/>
                <element name="Filter">
                    <annotation>
                        <documentation>过滤信息</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="OperType">
                                <annotation>
                                    <documentation>操作类型</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="GetHospBasic"/>
                                        <enumeration
                                                value="GetHospDepartBasic"/>
                                        <enumeration value="GetHospDocBasic"/>
                                        <enumeration value="GetSchedualList"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element ref="tns:HospName" minOccurs="0"/>
                            <element ref="tns:DepartName" minOccurs="0"/>
                            <element ref="tns:DoctorName" minOccurs="0"/>
                            <element name="BeginDate" type="date" minOccurs="0">
                                <annotation>
                                    <documentation>排班起始日期（如 2012-12-20）
                                    </documentation>
                                </annotation>
                            </element>
                            <element name="EndDate" type="date" minOccurs="0"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="NotifyAddr" type="anyURI" minOccurs="0">
                    <annotation>
                        <documentation>通知地址URL</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="GetHospInfoRsp">
        <annotation>
            <documentation>获取医院信息响应</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:Result"/>
                <element ref="tns:Hospital" minOccurs="0"
                         maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="AuthInfo">
        <annotation>
            <documentation>授权信息</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="UserName">
                    <annotation>
                        <documentation>用户名</documentation>
                    </annotation>
                    <simpleType>
                        <restriction base="string">
                            <maxLength value="16"/>
                            <minLength value="3"/>
                        </restriction>
                    </simpleType>
                </element>
                <element name="Password">
                    <annotation>
                        <documentation>密码</documentation>
                    </annotation>
                    <simpleType>
                        <restriction base="string">
                            <minLength value="3"/>
                            <maxLength value="16"/>
                        </restriction>
                    </simpleType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="Result">
        <annotation>
            <documentation>返回结果</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="ResultCode" type="unsignedLong"/>
                <element name="ResultMsg" type="string" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="DepartName">
        <annotation>
            <documentation>科室名称</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <maxLength value="50"/>
            </restriction>
        </simpleType>
    </element>
    <element name="HospName">
        <annotation>
            <documentation>医院名称</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <maxLength value="50"/>
            </restriction>
        </simpleType>
    </element>
    <element name="DoctorName">
        <annotation>
            <documentation>医生姓名</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <maxLength value="20"/>
            </restriction>
        </simpleType>
    </element>
    <element name="RegistryFee" type="decimal">
        <annotation>
            <documentation>挂号费</documentation>
        </annotation>
    </element>
    <element name="ClinicFee" type="decimal">
        <annotation>
            <documentation>门诊费</documentation>
        </annotation>
    </element>
    <element name="NotifyHospInfoReq">
        <annotation>
            <documentation>通知医院信息变更请求</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:Hospital"/>
            </sequence>
        </complexType>
    </element>
    <element name="NotifyHospInfoRsp">
        <annotation>
            <documentation>通知医院信息变更响应</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:Result"/>
            </sequence>
        </complexType>
    </element>
    <element name="Hospital">
        <complexType>
            <sequence>
                <element ref="tns:HospName"/>
                <element name="HospBasic" minOccurs="0">
                    <annotation>
                        <documentation>医院基本数据</documentation>
                    </annotation>
                    <complexType>
                        <sequence>
                            <element name="Grade" minOccurs="0">
                                <annotation>
                                    <documentation>医院等级</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <maxLength value="50"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="Kind" minOccurs="0">
                                <annotation>
                                    <documentation>医院性质</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <maxLength value="50"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="Address" minOccurs="0">
                                <annotation>
                                    <documentation>地址</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <maxLength value="200"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="Phone" minOccurs="0">
                                <annotation>
                                    <documentation>电话</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <maxLength value="50"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="Intro" minOccurs="0">
                                <annotation>
                                    <documentation>医院简介</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string"/>
                                </simpleType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="Depart" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element ref="tns:DepartName"/>
                            <element name="DepartBasic" minOccurs="0">
                                <annotation>
                                    <documentation>科室基本信息</documentation>
                                </annotation>
                                <complexType>
                                    <sequence>
                                        <element name="DepartType">
                                            <annotation>
                                                <documentation>科室类别
                                                </documentation>
                                            </annotation>
                                            <simpleType>
                                                <restriction base="string">
                                                    <enumeration value="普通"/>
                                                    <enumeration value="专家"/>
                                                    <enumeration value="普通和专家"/>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="DepartIntro"
                                                 type="string" minOccurs="0">
                                            <annotation>
                                                <documentation>科室简介
                                                </documentation>
                                            </annotation>
                                        </element>
                                        <element name="Limited"
                                                 type="unsignedInt"
                                                 minOccurs="0">
                                            <annotation>
                                                <documentation>放号限额
                                                </documentation>
                                            </annotation>
                                        </element>
                                        <element ref="tns:RegistryFee"/>
                                        <element ref="tns:ClinicFee"/>
                                        <element name="DepartSex" minOccurs="0">
                                            <annotation>
                                                <documentation>科室性别限制
                                                </documentation>
                                            </annotation>
                                            <simpleType>
                                                <restriction base="string">
                                                    <enumeration value="0"/>
                                                    <enumeration value="M"/>
                                                    <enumeration value="F"/>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="ChildAge"
                                                 type="unsignedByte"
                                                 minOccurs="0">
                                            <annotation>
                                                <documentation>儿科年龄限制
                                                </documentation>
                                            </annotation>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element ref="tns:Schedual" minOccurs="0"
                                     maxOccurs="unbounded"/>
                            <element name="Doctor" minOccurs="0"
                                     maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element ref="tns:DoctorName"/>
                                        <element name="DocBasic" minOccurs="0">
                                            <annotation>
                                                <documentation>医生基本信息
                                                </documentation>
                                            </annotation>
                                            <complexType>
                                                <sequence>
                                                    <element name="DocSex">
                                                        <annotation>
                                                            <documentation>
                                                                医生性别(0男 1女)
                                                            </documentation>
                                                        </annotation>
                                                        <simpleType>
                                                            <restriction
                                                                    base="string">
                                                                <enumeration
                                                                        value="男"/>
                                                                <enumeration
                                                                        value="女"/>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="DocRank"
                                                             minOccurs="0">
                                                        <annotation>
                                                            <documentation>
                                                                医生职称
                                                            </documentation>
                                                        </annotation>
                                                        <simpleType>
                                                            <restriction
                                                                    base="string">
                                                                <maxLength
                                                                        value="20"/>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="DocRate"
                                                             type="unsignedLong"
                                                             minOccurs="0">
                                                        <annotation>
                                                            <documentation>
                                                                医生星级评分
                                                            </documentation>
                                                        </annotation>
                                                    </element>
                                                    <element name="DoctorInro"
                                                             minOccurs="0">
                                                        <annotation>
                                                            <documentation>
                                                                医生简介
                                                            </documentation>
                                                        </annotation>
                                                        <simpleType>
                                                            <restriction
                                                                    base="string">
                                                                <maxLength
                                                                        value="200"/>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="DocMajor"
                                                             minOccurs="0">
                                                        <annotation>
                                                            <documentation>
                                                                医生特长
                                                            </documentation>
                                                        </annotation>
                                                        <simpleType>
                                                            <restriction
                                                                    base="string">
                                                                <maxLength
                                                                        value="100"/>
                                                            </restriction>
                                                        </simpleType>
                                                    </element>
                                                    <element name="IsExpert"
                                                             type="boolean">
                                                        <annotation>
                                                            <documentation>
                                                                是否专家
                                                            </documentation>
                                                        </annotation>
                                                    </element>
                                                    <element
                                                            ref="tns:RegistryFee"/>
                                                    <element
                                                            ref="tns:ClinicFee"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element ref="tns:Schedual"
                                                 minOccurs="0"
                                                 maxOccurs="unbounded"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="GetRegInfoReq">
        <annotation>
            <documentation>查询预约信息请求</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:AuthInfo"/>
                <element name="PatientIdentify">
                    <annotation>
                        <documentation>患者识别信息</documentation>
                    </annotation>
                    <complexType>
                        <choice>
                            <element ref="tns:SN" minOccurs="0"/>
                            <element ref="tns:IdCard"/>
                            <element name="Other" minOccurs="0">
                                <complexType>
                                    <sequence>
                                        <element ref="tns:Name" minOccurs="0"/>
                                        <element ref="tns:Phone" minOccurs="0"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </choice>
                    </complexType>
                </element>
                <element name="Filter" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="BeginDate" type="date">
                                <annotation>
                                    <documentation>就诊起始日期（如 2012-12-20）
                                    </documentation>
                                </annotation>
                            </element>
                            <element name="EndDate" type="date">
                                <annotation>
                                    <documentation>就诊结束日期</documentation>
                                </annotation>
                            </element>
                            <element ref="tns:HospName" minOccurs="0"/>
                            <element ref="tns:DepartName" minOccurs="0"/>
                            <element ref="tns:DoctorName" minOccurs="0"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="GetRegInfoRsp">
        <annotation>
            <documentation>查询预约信息响应</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:Result"/>
                <element name="Patient" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element ref="tns:IdCard"/>
                            <element ref="tns:Name"/>
                            <element ref="tns:Phone"/>
                            <element name="Sex">
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="男"/>
                                        <enumeration value="女"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="Birth" type="date"/>
                            <element name="InsureType">
                                <annotation>
                                    <documentation>医保类型</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="自费"/>
                                        <enumeration value="市民卡"/>
                                        <enumeration value="园区医保"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="IsBlocked" type="boolean">
                                <annotation>
                                    <documentation>是否黑名单</documentation>
                                </annotation>
                            </element>
                            <element ref="tns:PayAccount" minOccurs="0"
                                     maxOccurs="unbounded"/>
                            <element ref="tns:IdCard" minOccurs="0">
                                <annotation>
                                    <documentation>家庭组标识</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="RegInfo" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element ref="tns:HospName"/>
                            <element ref="tns:SN"/>
                            <element ref="tns:DepartName"/>
                            <element ref="tns:DoctorName" minOccurs="0"/>
                            <element name="SelfPay" type="decimal">
                                <annotation>
                                    <documentation>自费费用</documentation>
                                </annotation>
                            </element>
                            <element name="InsurePay" type="decimal">
                                <annotation>
                                    <documentation>医保费用</documentation>
                                </annotation>
                            </element>
                            <element name="RegDateTime" type="dateTime">
                                <annotation>
                                    <documentation>预约时间</documentation>
                                </annotation>
                            </element>
                            <element name="ClinicDateTime" type="dateTime">
                                <annotation>
                                    <documentation>就诊时间（开始值）</documentation>
                                </annotation>
                            </element>
                            <element name="IsFetched" type="boolean">
                                <annotation>
                                    <documentation>是否已经取号</documentation>
                                </annotation>
                            </element>
                            <element name="FetchDateTime" type="dateTime"
                                     minOccurs="0">
                                <annotation>
                                    <documentation>取号时间</documentation>
                                </annotation>
                            </element>
                            <element name="IsUnPayed" type="boolean">
                                <annotation>
                                    <documentation>是否未付费</documentation>
                                </annotation>
                            </element>
                            <element name="UnpayedFee" type="decimal"
                                     minOccurs="0">
                                <annotation>
                                    <documentation>未付费费用</documentation>
                                </annotation>
                            </element>
                            <element name="IsQuit" type="boolean">
                                <annotation>
                                    <documentation>是否退号</documentation>
                                </annotation>
                            </element>
                            <element name="QuitTime" type="dateTime"
                                     minOccurs="0">
                                <annotation>
                                    <documentation>退号时间</documentation>
                                </annotation>
                            </element>
                            <element ref="tns:RegFrom"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="GetRegPoolReq">
        <annotation>
            <documentation>查询号源信息请求</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:AuthInfo"/>
                <element name="Filter">
                    <complexType>
                        <sequence>
                            <element ref="tns:HospName"/>
                            <element ref="tns:DepartName"/>
                            <element ref="tns:DoctorName" minOccurs="0"/>
                            <element ref="tns:WorkDate"/>
                            <element ref="tns:WorkType"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="GetRegPoolRsp">
        <annotation>
            <documentation>查询号源信息响应</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:Result"/>
                <element name="PoolInfo" minOccurs="0" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element ref="tns:StartTime"/>
                            <element ref="tns:EndTime" minOccurs="0"/>
                            <element name="TotalNum" type="unsignedInt"
                                     minOccurs="0">
                                <annotation>
                                    <documentation>本时段号源总数（当本时段仅有1个号时，本字段可省略）
                                    </documentation>
                                </annotation>
                            </element>
                            <element name="LeftNum" type="unsignedInt">
                                <annotation>
                                    <documentation>本时段剩余号源数</documentation>
                                </annotation>
                            </element>
                            <element name="FinishedNum" type="unsignedInt"
                                     minOccurs="0">
                                <annotation>
                                    <documentation>本时段已就诊人数</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="SN" type="string">
        <annotation>
            <documentation>挂号流水号</documentation>
        </annotation>
    </element>
    <element name="WorkDate" type="date">
        <annotation>
            <documentation>排班日期</documentation>
        </annotation>
    </element>
    <element name="WorkType">
        <annotation>
            <documentation>值班类别</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <enumeration value="上午"/>
                <enumeration value="下午"/>
            </restriction>
        </simpleType>
    </element>
    <element name="RegisterReq">
        <annotation>
            <documentation>预约/退号/修改预约请求</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:AuthInfo"/>
                <element name="OperType">
                    <annotation>
                        <documentation>操作类型</documentation>
                    </annotation>
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="AddReg"/>
                            <enumeration value="DelReg"/>
                            <enumeration value="ModReg"/>
                        </restriction>
                    </simpleType>
                </element>
                <element ref="tns:SN" minOccurs="0"/>
                <element name="PatientInfo">
                    <complexType>
                        <sequence>
                            <element ref="tns:IdCard"/>
                            <element ref="tns:Name"/>
                            <element ref="tns:Phone" minOccurs="0"/>
                            <element name="Sex" minOccurs="0">
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="男"/>
                                        <enumeration value="女"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="Birth" type="date" minOccurs="0"/>
                            <element name="InsureType">
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="自费"/>
                                        <enumeration value="市民卡"/>
                                        <enumeration value="园区医保"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element ref="tns:PayAccount" minOccurs="0"/>
                            <element ref="tns:IdCard" minOccurs="0">
                                <annotation>
                                    <documentation>家庭组标识</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="RegInfo" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element ref="tns:HospName"/>
                            <element ref="tns:DepartName"/>
                            <element ref="tns:DoctorName" minOccurs="0"/>
                            <element name="DocRate" minOccurs="0">
                                <annotation>
                                    <documentation>医生星级评分</documentation>
                                </annotation>
                                <simpleType>
                                    <restriction base="unsignedLong">
                                        <minInclusive value="0" fixed="false"/>
                                        <maxInclusive value="5" fixed="false"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element ref="tns:WorkDate"/>
                            <element ref="tns:WorkType"/>
                            <element ref="tns:StartTime"/>
                            <element ref="tns:EndTime">
                                <annotation>
                                    <documentation>号源结束时间</documentation>
                                </annotation>
                            </element>
                            <element name="IsPayed" type="boolean"
                                     minOccurs="0">
                                <annotation>
                                    <documentation>是否已付费</documentation>
                                </annotation>
                            </element>
                            <element name="RegOperType" minOccurs="0">
                                <annotation>
                                    <documentation>预约类型</documentation>
                                </annotation>
                                <complexType>
                                    <choice>
                                        <element name="RadCheckType">
                                            <annotation>
                                                <documentation>放射检查类型
                                                </documentation>
                                            </annotation>
                                            <simpleType>
                                                <restriction base="string">
                                                    <enumeration value="CT"/>
                                                    <enumeration value="MRI"/>
                                                    <enumeration value="CR"/>
                                                    <enumeration value="DR"/>
                                                    <enumeration value="DSA"/>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                        <element name="BodyCheckSet">
                                            <annotation>
                                                <documentation>体检套餐类型
                                                </documentation>
                                            </annotation>
                                            <simpleType>
                                                <restriction base="string">
                                                    <maxLength value="50"/>
                                                </restriction>
                                            </simpleType>
                                        </element>
                                    </choice>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element ref="tns:RegFrom"/>
            </sequence>
        </complexType>
    </element>
    <element name="RegisterRsp">
        <annotation>
            <documentation>预约响应</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:Result"/>
                <element ref="tns:SN" minOccurs="0"/>
                <element name="ClinicSerialNo" type="unsignedInt" minOccurs="0">
                    <annotation>
                        <documentation>就诊序号</documentation>
                    </annotation>
                </element>
                <element name="FetchTime" type="string" minOccurs="0">
                    <annotation>
                        <documentation>取号时间</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="IdCard">
        <annotation>
            <documentation>身份证号码</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <maxLength value="18"/>
            </restriction>
        </simpleType>
    </element>
    <element name="Name">
        <annotation>
            <documentation>姓名</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <maxLength value="20"/>
            </restriction>
        </simpleType>
    </element>
    <element name="Phone">
        <annotation>
            <documentation>联系电话</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <maxLength value="20"/>
            </restriction>
        </simpleType>
    </element>
    <element name="StartTime" type="time">
        <annotation>
            <documentation>号源开始时间</documentation>
        </annotation>
    </element>
    <element name="EndTime" type="time">
        <annotation>
            <documentation>号源结束时间，当下一个时段开始时间就是本时段结束时间时，可省略本字段</documentation>
        </annotation>
    </element>
    <element name="RegVia">
        <annotation>
            <documentation>预约途径</documentation>
        </annotation>
        <simpleType>
            <restriction base="string">
                <enumeration value="网站：12320"/>
                <enumeration value="网站：挂号网"/>
                <enumeration value="网站：智慧医疗"/>
                <enumeration value="手机：APP"/>
                <enumeration value="手机：WAP"/>
                <enumeration value="电话"/>
                <enumeration value="诊间预约"/>
                <enumeration value="转诊预约"/>
                <enumeration value="自助机预约"/>
                <enumeration value="电视"/>
            </restriction>
        </simpleType>
    </element>
    <element name="RegFrom">
        <annotation>
            <documentation>预约来源</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="tns:RegVia"/>
                <element name="Vendor" type="string" minOccurs="0">
                    <annotation>
                        <documentation>预约前端服务提供商标识</documentation>
                    </annotation>
                </element>
                <element name="Operator" type="string">
                    <annotation>
                        <documentation>操作员标识</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="Schedual">
        <complexType>
            <sequence>
                <element ref="tns:WorkDate"/>
                <element ref="tns:WorkType"/>
                <element name="WorkStatus">
                    <annotation>
                        <documentation>排班状态</documentation>
                    </annotation>
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="正常"/>
                            <enumeration value="停诊"/>
                            <enumeration value="停诊但保留预约"/>
                        </restriction>
                    </simpleType>
                </element>
                <element name="ExpertFee" type="decimal" minOccurs="0">
                    <annotation>
                        <documentation>专家费</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name="PayAccount">
        <annotation>
            <documentation>支付账号</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="支付类型">
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="支付宝"/>
                            <enumeration value="预充值账户"/>
                            <enumeration value="微信"/>
                            <enumeration value="银联"/>
                        </restriction>
                    </simpleType>
                </element>
                <element name="支付账号" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
    